doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
  style.
    body {
    background-color: grey;
    color:white;
    }
    .jumbotron{
    background-color:black; 
    margin-top:100px;
    padding:10px;
    }
  body 
    div 
      .container 
        .jumbotron
          h1.
            Invalid Email, password, or time restricted access for this user
          p.  
            back to #[a(href="/") Main Page #[span]]
 
  

