doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")

  style.
    body {
      color:white;
      background-color: black;
    }
    h1{
      color:white;
    }
    a{
      padding:10px;
      margin-left:10px;
      background-color:#008080;
      border-radius:5px;
      color:white;
    }
  body 
    div 
      .container
        h1= title 
        if authAdmin
          h1 anda sebagai admin
        if session
            h1 anda sudah login, click logout untuk ganti akun 
        form(method='POST' action='/') 
          div.form-group
            label(for='email') NRP:
            input.form-control(type='text', placeholder='name@email.com' name='RegUsername') 
          div.form-group
            label(for='pw') Password:
            input.form-control(type='password', placeholder='********' name='RegPassword') 
          button.btn.btn-primary(type='submit') Sign In
          a(href="regis") dont have an account?  
          if authAdmin
            a(href="members") members
            a(href="logs") logs
          if session
            a(href="/logout/#{PublicId}") logout
  
    
